<app-navbar></app-navbar>
<div class="container">
    <div class="head-title">
      <span class="title1">Welcome</span><span class="title2"> to website</span>
      <h1>FACEMASH.</h1>
      <p>" {{first_name}} {{last_name}} "</p>
    </div>
    <div class="btn-vote">
      <button mat-flat-button (click)="vote(user_id)">Start Vote</button>
    </div>
    <div class="row">
      <div class="col-5">
         <img src="/assets/img/Acheron/post/Acheron_post1.png" alt="" width="100%">
         <h3><span>Acheron </span>— A drifter claiming to be a Galaxy Ranger. Her true name is unknown, and she walks the cosmos alone, carrying with her a long sword.
          Though aloof and taciturn, her blade flicks out like lashing lightning. And yet, she always strikes with her scabbard, never drawing the sword free.</h3>
      </div>
      <div class="col-7">
        <img src="/assets/img/Kafka/post/Kafka_post5.jpg" alt="" width="112%">
        <h3><span>Kafka </span>— A member of the Stellaron Hunters who is calm, collected, and beautiful. Her record on the wanted list of the Interastral Peace Corporation only lists her name and her hobby.
            People have always imagined her to be elegant, respectable, and in pursuit of things of beauty even in combat.</h3>
      </div>
  </div>
  <div class="row">
    <div class="col-1">
      <h3>About:</h3>
    </div>
    <div class="col-11">
      <h4>What is the purpose of this website? :</h4>
      <br>
      <h4>This website is made for submitting project work for the course 1204208 Advanced Web Development and Management.</h4>
      <br>
      <h4>Who makes this website? :</h4>
      <br>
      <h4>Mr.Atsadawut Chaiyarak  65011212081  Computer Science Sophomore  & 
          Mr.Kittasanai Tophon        65011212081  Computer Science Sophomore </h4>
    </div>
  </div>
</div>
