@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
.container{
    width: 100%;
    height: 100vh;
    text-align: center;
}
.head-title{
    margin-top: 13rem;
    & .title1{
        font-family: "Newsreader", serif;
        font-size: 60px;
        font-weight: 300;
    }
    & .title2{
        font-size: 40px;
        font-family: "Newsreader", serif;
        font-weight: 100;
    }
    & h1{
        margin-top: 3rem;
        font-size: 90px;
        font-family: "Newsreader", serif;
        font-weight: 400;

    }
    
}
.btn-vote{
    margin-top: 3rem;
    & button{
        background-color: #F51E3C;
        color: white;
        border-radius: 11px;
    }
}
.row{
    margin-top: 5rem;
}
.col-5{
    & h3{
        margin-top: 1rem;
        text-align: start;
        font-family: "Newsreader", serif;
        font-weight: 300;
    }
    & span{
        font-size: 20px;
        font-family: "Newsreader", serif;
        font-weight: 400;
    }
}
.col-7{
    margin-top: 5rem;
    & h3{
        margin-top: 1rem;
        text-align: start;
        font-family: "Newsreader", serif;
        font-weight: 300;
        color: black;
    }
    & span{
        font-size: 20px;
        font-family: "Newsreader", serif;
        font-weight: 400;
        color: black;
    }
}

.col-1{
    text-align: start;
    & h3{
        font-size: 20px;
        font-family: "Newsreader", serif;
        font-weight: 400;
        color: black;
    }
}
.col-11{
    text-align: start;
    & h4{
        font-size: 14px;
        font-family: "Newsreader", serif;
        font-weight: 400;
        color: black;
    }
}