
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 960px;
    height: auto;
    background-color: #F9F9FC;
    border-radius: 45px;
    padding: 3rem;
    border: none;

    & .card-signin{
        height: auto;
        margin-top: 6rem;
        padding-right: 2rem;
        padding-left: 1rem;
        & h1{
            color: #F51E3C;
            font-size: 65px;
            font-weight: 550;
        }
        
        & button{
            background-color: #F51E3C;
            color: white;
            width: 100%;
            border-radius: 11px;
            margin-top: 1.5rem;
        }
        & h5{
            margin-top: 1rem;
            & span{
                color: #1F426B;
            }
        }
        & h2{
            margin-top: 1rem;
            margin-bottom: -0.25rem;
            font-size:28px;
            font-weight: 300;
        }
        & h3{
            font-size:16px;
            font-weight: 300;
        }
        & h4{
            font-weight: 500;
        }
        & input{
            border: none; width: 100%;
            height:45px; 
            border-radius: 11px; 
            padding: 1rem;
        }
    }

    & .card-signup{
        height: 600px;
        border-radius: 45px;
        background-size: cover;
        background-image: url("/assets/img/Acheron/post/Acheron_post1.png");
        background-repeat: no-repeat;
        background-position: center center;
        .overlay {
            padding: 3rem;
            border-radius: 45px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); 
            z-index: 1;
          }
        & input{
            border: none; width: 100%;
            height:45px; 
            border-radius: 11px; 
            padding: 1rem;
        }
        & h1{
            color: #F9F9FC;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin-top: 2rem;
        }
        & h4{
            color: white;
            font-weight: 500;
            transform: translateY(12px);
        }
        & .btn-signup{
            width: 100%;
            display: flex;
            justify-content: center;
            & button{
                background-color: #224c7c;
                color: white;
                border-radius: 11px;
                margin-top: 1.5rem;
            }
        }
    }
}