.container-fluid{
    width: 100%;
    margin-top: 1rem;
    & p{
        font-size: 30px;
    }
}
 .banner{
    & img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
        object-position: center top;
    }
 }
 
 .icon-profile {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1 / 1;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.01);
      border-radius:  360px;
      aspect-ratio: 1 / 1;
    }
  }


 .tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .title-head{
    display: flex;
    align-items: center;
    width: 800px;
    height: 100px;
    & span{
        font-size: 40px;
        font-weight: 500;
        margin-left: 1rem;
    }
 }

 .btn{
    border: none;
 }
.btn-edit{
    width: 118px;
    border-radius: 11px;
}
.btn-statistics{
    width: 118px;
    border-radius: 11px;
    margin-right: 1rem;
}
.col-5{
    height:  100%;
    margin-top: 6rem;
    background-color: #F9F9FC;
    border-radius: 30px;
    padding: 2rem;
}
.col-7{
    display: flex;
    justify-content: center;
}
.card-post{
    width: 500px;
    padding: 1rem;
    background-color: #F9F9FC;
    border-radius: 30px;
    margin: 1rem;
    & .title{
        display: flex;
        align-items: center;
    }
    & .card-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        & span{
            font-size: 16px;
            font-weight: 500;
        }
        & .icon{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: white;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
        & .time{
            & span{
                font-weight: 200;
                font-size: 14px;
            }

        }

    .card-body{
        display: flex;
        justify-content: center;
        & img{
            aspect-ratio: 16/9;
            width: 300px;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
        
    }
    
    .card-lower{
        margin-top: -1rem;
        & button{
            cursor: pointer;
            margin-right: -0.75rem;
            font-size: 50px; 
        }
        & p{
            margin-left: 1.5rem;
            margin-top: -1.5rem;
            font-size: 14px;
            font-weight: 500;
        }
    }
}
.btn.like-button.active {
    color: red;
}

.btn.like-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.like-icon,
.chat-icon,
.share-icon {
  font-size: 55%;
  margin-right: -1rem;
  width: 60px;
  height: auto;
}


.card-import-post {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: #F9F9FC;
    padding: 2rem;
    border-radius: 30px;

    & button{
        border-radius: 11px;
    }
}

.custom-file-upload {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 320px;
    border-radius: 11px;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
