.container{
    width: 100%;
    margin-top: 4rem;
    & p{
        font-size: 30px;
        text-align: left;
        font-size: 45px;

    }
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    & .title-vote{
        width: 90%;
        & hr{
            width: 100%;
        }
    }
    & .vote{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.card-vote{
    width: 100%;
    height: auto;
    border: none;
    margin-top: 2rem;
    border: none;
}
.card-head{
    display: flex;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
    background-color: #F9F9FC;
    height: 55px;
    padding-left: 1rem;
}
h1{
    font-size: 65px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.col-12{
    border-radius: 30px;
}
.card-vote1{
    width: 400px;
    height: auto;
    border-radius: 30px;
}
.card-vote2{
    width: 400px;
    height: auto;
    border-radius: 30px;
}
img{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
span{
    font-size: 18px;
    font-weight: bold;
    margin-left: 0.5rem;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 90px;
}
hr{
    border: 1.5px solid #b5b5b5;
    margin-top: 0.5rem;
}

.card-vote1,
.card-vote2 {
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.3s ease; // Added box-shadow to the transition

  &:hover {
    transform: scale(1.05); // Zoom in effect on hover
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); // Add shadow on hover
  }
}