<!-- vote.component.html -->

<app-navbar></app-navbar>
<div class="container">
  <div class="title">
    <div class="title-vote">
      <p>Vote</p>
      <hr>
    </div>
  </div>
  <div class="card-vote">
    <div class="col">
      <div *ngIf="show.length >= 1" class="card-vote1" (click)="vote(show[0].post_id)">
        <div class="card-head">
          <div class="icon" (click)="profile(show[0].post_id)">
            <img [src]="show[0].icon" alt="Post Image" />
          </div>
          <span>{{show[0].first_name}} {{show[0].last_name}}</span>
        </div>
        <img [src]="show[0].picture" alt="Post Image" />
      </div>
      <h1>OR</h1>
      <div *ngIf="show.length >= 2" class="card-vote2" (click)="vote(show[1].post_id)">
        <div class="card-head">
          <div class="icon" (click)="profile(show[0].post_id)">
            <img [src]="show[1].icon" alt="Post Image" />
          </div>
          <span>{{show[1].first_name}} {{show[1].last_name}}</span>
        </div>
        <img [src]="show[1].picture" alt="Post Image" />
      </div>
      <!-- <button  (click)="refresh()">Refresh</button> -->
    </div>
  </div>
</div>
